<div class="container-fluid">
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Crypto-Currencies</th>
                    <th># of Coins</th>
                    <th>Cost In USD</th>
                    <th>% 1h</th>
                    <th>% 24</th>
                </tr>
            </thead>
            <tbody class='tablerow'>
            </tbody>
        </table>
    </div>
</div>
