<div class="backimg">
  <div class="frontjumbo jumbotron"><h1>Welcome to Crypt-Watcher</h1></div>
  <div class="well well-lg frontwell">
      <h2 class="center">Let us watch crypto currency prices for you!</h2>
      <h3 class="centerboxtext">Just a few easy steps!</h3>
      <a class="btn btn-info signupbtn" href="users/signup"><h4><b>Sign Up</b></h4></a>
    </div>
</div>
