<!DOCTYPE html>
<html>

<head>
    <title>Crypt-Watcher</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <nav class="navbar navbar-default" id="nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Crypt-Watcher</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/coins">Coins</a></li>
                    <li><a href="/converter">Converter</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if user_id}}
                        <li><a href="/auth/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/users/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/authenticate.js"></script>
</body>

</html>
