body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.maintitle {
  margin: 0 0 5vw 35vw;
  padding-top: 8vh;
  color: #000000;
}

.frontpagesign {
  background-color: #A3A3A3;
  margin-top: 28vh;
  width: 100vw;
  height: 25vh;
}

.center {
  margin-top: 8vh;
  margin-left: 30.7vw;
}

.centerboxtext {
  margin-top: 3vh;
  margin-left: 40.7vw;
  margin-bottom: 5vh;
}

.signupbtn {
  width: 10vw;
  height: 6vh;
  margin-left: 43.3vw;
}

.coinselect option {
  font-size: 1.3em;
}

.labelstyle {
  font-size: 25px;
  font-weight: 300;
}

.dashboardsenter {
  margin-top: 4vh;
  margin-bottom: 3vh;
  width: 100%;
  text-align: center;
}

.submitbtn {
  margin-left: 35vw;
  width: 12vw;
  height: 7vh;
}

.bottomspace {
  margin-bottom: 3vh;
}

.convertercenter {
  margin-top: 13vh;
}

.wellctrl {
  max-height: 14vh;
  overflow: scroll;
}

#phonenumber {
  width: 100vw;
}

.backimg {
  margin-top: 0;
  background-image: url('../images/CryptoWorld.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#nav {
  margin-bottom: 0;
}

.titleback {
  background-color: #ffffff;
  border-radius: 6vw;
}

.google-visualization-table-table {
  font-size: 1.3em !important;
}

.tablehead {
  font-size: 1.5em;
}

.frontwell {
  margin-top: 4em;
  opacity: .9;
}

.frontjumbo {
  opacity: .9;
}

.frontjumbo h1 {
  text-align: center;
}

.loginlabel {
  font-size: 1.5em;
}
